---
layout: default
---
{% include category/title.html %}

<ul class="list-posts">
    {% assign empty_category = true %}
    {% for post in site.posts %}
        {% if post.categories contains page.category %}
            <li class="post-teaser">
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <span class="post-teaser__title">{{ post.title }}</span>
                    <span class="post-teaser__date">{{ post.date | date: "%Y年 %m月%d號 星期%u" }}</span>
                </a>
            </li>
            {% assign empty_category = false %}
        {% endif %}
    {% endfor %}

    {% if empty_category %}
        <li class="empty-post-list">
            似乎還沒有關於這個分類的文章
        </li>
    {% endif %}
</ul>

{% include page/explore.html %}